.card-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.card-wide {
  grid-column: span 1 / auto;
}

.card-title {
  color: "#7b7be6";
  font-weight: "bold";
}

.card-info {
  color: "#a39fea";
  font-weight: "lighter";
}
