.App-body {
  background: #e6e9ec;
  padding: 1rem;
}
.app-grid {
  display: grid;
  gap: 1rem;
}

@media only screen and (max-width: 700px) {
  .app-grid {
    grid-template-columns: 1fr;
  }

  .sticky-top {
    position: fixed;
  }
}

@media only screen and (min-width: 700px) {
  .app-grid {
    grid-template-columns: 1fr 2fr;
  }

  .sticky-top {
    position: sticky;
  }
}

@media only screen and (min-width: 1024px) {
  .app-grid {
    grid-template-columns: 1fr 4fr;
  }

  .sticky-top {
    position: sticky;
  }
}

@media only screen and (min-width: 1440px) {
  .app-grid {
    grid-template-columns: 1fr 4fr;
    max-width: 1440;
    align-content: center;
  }

  .sticky-top {
    position: sticky;
  }
}
